*,
*::before,
*::after { -webkit-box-sizing:border-box; box-sizing:border-box; }
a { text-decoration:none; color:inherit; cursor:pointer; }
button { background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
ul, ol, dd { margin:0; padding:0; list-style:none; }
h1, h2, h3, h4, h5, h6 { margin:0; font-size:inherit; font-weight:inherit; }
p { margin:0; }
cite { font-style:normal; }
fieldset { border-width:0; padding:0; margin:0; }

.global-bg {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
    background-image: url(../img/bg-big.jpg);
}
.conteiner-bg__nav {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
}
.conteiner-bg__main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
}
.conteiner-nav {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.logo {
    width: 115px;
    padding-top: 40px;
}
.nav-btn ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav-btn li {
    padding: 50px 10px;
}
.nav-btn li a {
    padding: 20px;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}
.nav-btn li a:hover{
    color: #F2962F;
}
.nav-login {
    padding: 50px;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}
.nav-login a {
    padding: 8px 15px;
}
.nav-login a:hover {
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    padding: 7px 14px;
}
.nav-login__lang {
    margin: -15px 15px;
    padding: 18px 24px;
    border-radius: 15px;
    background-color: #33c5d4;
    border:none;
    color: #FFFFFF;
    font-size: 17px;
}
.conteiner-main {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.conteiner-main .about-content__right {
    margin-top: -150px;
    margin-right: -150px;
}
.about-content__left {
    width: 547px;
}
.about-content__left--p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #181E4B;
    width: 430px;
    margin-top: 130px;
}
.about-content__left--h {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-top: 24px;
}
.about-content__left--s {
    width: 460px;
    height: 90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.7;
}
.conteiner-main__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 34px;
}
.main-btn__find {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 45px;
}
.main-btn__find a {
    padding: 18px 26px;
    background: #DB6851;
    color: white;
    border-radius: 10px;
}
.main-btn__find a:hover {
    background: #DB6851;
    -webkit-box-shadow: 75px 75px 43px rgba(219, 104, 81, 0.03), 42px 42px 36px rgba(219, 104, 81, 0.1), 19px 19px 27px rgba(219, 104, 81, 0.17), 5px 5px 15px rgba(219, 104, 81, 0.2), 0px 0px 0px rgba(219, 104, 81, 0.2);
            box-shadow: 75px 75px 43px rgba(219, 104, 81, 0.03), 42px 42px 36px rgba(219, 104, 81, 0.1), 19px 19px 27px rgba(219, 104, 81, 0.17), 5px 5px 15px rgba(219, 104, 81, 0.2), 0px 0px 0px rgba(219, 104, 81, 0.2);
}
.main-btn__play {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background:#F2962F;
    width: 52px;
    height: 52px;
    border-radius: 50%;
}
.main-btn__play a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color:#fff; 
    font-size:20px
}
.main-btn__play:hover {
    background: #F2962F;
    -webkit-box-shadow: 25px 25px 14px rgba(242, 150, 47, 0.03), 14px 14px 12px rgba(242, 150, 47, 0.1), 6px 6px 9px rgba(242, 150, 47, 0.17), 2px 2px 5px rgba(242, 150, 47, 0.2), 0px 0px 0px rgba(242, 150, 47, 0.2);
            box-shadow: 25px 25px 14px rgba(242, 150, 47, 0.03), 14px 14px 12px rgba(242, 150, 47, 0.1), 6px 6px 9px rgba(242, 150, 47, 0.17), 2px 2px 5px rgba(242, 150, 47, 0.2), 0px 0px 0px rgba(242, 150, 47, 0.2);
}
.main-btn__playDemo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 17px;
    opacity: 0.7;
    padding-left: 15px;
}
.conteiner-category {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}
.category-about p {
    margin-top: 200px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
}
.category-about h3 {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #14183E;
}
.category-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 85px;
}
.category-items__block {
    width: 100%;
    max-width: 267px;
    height: 315px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}
.category-items__block:hover {
    -webkit-transition-duration: .4s;
         -o-transition-duration: .4s;
            transition-duration: .4s;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 98px 98px 55px rgba(0, 0, 0, 0.01), 55px 55px 47px rgba(0, 0, 0, 0.05), 24px 24px 35px rgba(0, 0, 0, 0.09), 6px 6px 19px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 98px 98px 55px rgba(0, 0, 0, 0.01), 55px 55px 47px rgba(0, 0, 0, 0.05), 24px 24px 35px rgba(0, 0, 0, 0.09), 6px 6px 19px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 36px;
}
.category-items__country {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.card {
    background: white;
    width: 300px;
    height: 480px;
    margin: 20px;
    border-radius: 25px;
}
.card_image {
    height: 350px;
    margin-bottom: 15px;
    border-radius: 15px 15px 0 0;
}
.city-1 {
    background-image: url('../img/country-one.png');
}
.city-2 {
    background-image: url('../img/country-two.png');
}
.city-3 {
    background-image: url('../img/country-three.png');
}
.card_description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px;
    font-family: poppins;
    font-size: 18px;
    font-weight: 600;
}
.trip_description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 20px;
    font-family: poppins;
    font-size: 18px;
}
.location {
    width: 20px;
    height: 20px;
    margin-right: 15px;
}
.conteiner-trip {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 1180px;
    margin: 190px auto;
    padding: 0px 15px;
}

.trip-about p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    color: #FFFFFF;
    opacity: 0.7;
}
.trip-about h3 {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-transform: capitalize;
    text-align: left;
    color: #14183E;
    margin-top: 15px;
}
.trip-about__warp {
    width: 395px;
}
.trip__top {
    width: 511px;
}
.warp-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.warp-info div {
    margin-top: 4px;
    margin-left: 21px;
    margin-bottom: 21px;
}

.warp-info h3 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 124.5%;
    color: #FFFFFF;
    text-align: left;
}
.warp-info p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 124.5%;
    color: #FFFFFF;
    opacity: 0.7;
    text-align: left;
}
.trip-img {
    position: relative;
    margin-top: 60px;
    margin-right: 90px;
    width: 370px;
    height: 400px;
    background-color: #fff;
    -webkit-box-shadow: 124px 124px 70px rgba(0, 0, 0, 0.01), 70px 70px 59px rgba(0, 0, 0, 0.05), 31px 31px 44px rgba(0, 0, 0, 0.09), 8px 8px 24px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 124px 124px 70px rgba(0, 0, 0, 0.01), 70px 70px 59px rgba(0, 0, 0, 0.05), 31px 31px 44px rgba(0, 0, 0, 0.09), 8px 8px 24px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 26px;
}
.trip-img__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 25px;
}
.trip-text-top {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    letter-spacing: 0.015em;
    color: #080809;
    margin-left: 25px;
    margin-top: 26px;
}
.trip-data {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 124.5%;
    letter-spacing: -0.005em;
    color: #84829A;
    margin-left: 25px;
    margin-top: 13px;
}
.trip-card-ing {
    margin-top: 30px;
    margin-left: 28px;
}
.trip-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 21px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.card-img-button {
    margin-left: 25px;
}
.card-img-button-like  {
    margin-right: 25px;
}
.card-button-text {
    margin-right: 143px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 124.5%;
    letter-spacing: -0.02em;
    color: #84829A;
}
.trip-comment {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 222px;
    top: 219px;
    width: 263px;
    height: 129px;
    background: #FFFFFF;
    -webkit-box-shadow: 82px 82px 46px rgba(0, 0, 0, 0.01), 46px 46px 39px rgba(0, 0, 0, 0.05), 20px 20px 29px rgba(0, 0, 0, 0.09), 5px 5px 16px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 82px 82px 46px rgba(0, 0, 0, 0.01), 46px 46px 39px rgba(0, 0, 0, 0.05), 20px 20px 29px rgba(0, 0, 0, 0.09), 5px 5px 16px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}
.comment-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.comment-img {
    margin-top: 18px;
    margin-right: 11px;
    margin-left: 20px;
}
.comment-text-top {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    letter-spacing: -0.035em;
    color: #84829A;
    margin-top: 16px;
}
.comment-text-mid {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    letter-spacing: -0.015em;
    color: #080809;
    margin-top: 6px;
}
.comment-text-down {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    letter-spacing: -0.055em;
    color: #080809;
    margin-top: 14px;
}
.conteiner-feedback {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px 15px;
}
.feedback__top-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.7;
}
.feedback__big-text {
    width: 409px;
    margin-top: 8px;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-transform: capitalize;
    color: #14183E;
    
}
.card-feedback {
    position: relative;
    z-index: 4;
    width: 100%;
    max-width: 504px;
    height: 245px;
    background: #FFFFFF;
    -webkit-box-shadow: 157px 157px 89px rgba(0, 0, 0, 0.01), 88px 88px 75px rgba(0, 0, 0, 0.05), 39px 39px 55px rgba(0, 0, 0, 0.09), 10px 10px 30px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 157px 157px 89px rgba(0, 0, 0, 0.01), 88px 88px 75px rgba(0, 0, 0, 0.05), 39px 39px 55px rgba(0, 0, 0, 0.09), 10px 10px 30px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.card-fb__big-text {
    padding-top: 28px;
    padding-left: 34px;
    margin-right: 65px;
    width: 450px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #5E6282;
}
.card-fb__name-text {
    margin-top: 34px;
    margin-left: 34px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #14183E;
}
.card-fb__country-text{
    margin-top: 5px;
    margin-left: 34px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #14183E;
    opacity: 0.4;
}
.fb-img{
    position: absolute;
    top: -30px;
    left: -30px;
}
.card-fb-border {
    position: relative;
    z-index: 2;
    top: 90px;
    right: 454px;
    width: 100%;
    max-width: 504px;
    height: 245px;
    border: 2px solid #F7F7F7;
    border-radius: 10px;
}
.card-fb-border .card-fb__name-text {
    color: #FFFFFF;
}
.card-fb-border .card-fb__country-text {
    color: #FFFFFF;
}
.conteiner-logobrend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 173px 15px;
    mix-blend-mode: luminosity;
}
.wrapper {
    display: block;
    width: 100%;
    max-width: 1100px;
    position: relative;
    margin: 0 auto;
}
.subscribe__image {
    position: absolute;
    right: -65px;
    top: -35px;
}
.subscribe__wrap {
    background: #33d6ce;
    border-radius: 129px 20px 20px 20px;
}
.subscribe__title {
    padding: 92px 155px 74px 92px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 54px;
    text-align: center;
    color: #14183E;
}
.subscribe__formbox{
    display: table;
    margin: 0 auto;
    padding-bottom: 70px;
    
}
.enter_big {
    background: #FFFFFF;
    border-radius: 10px;
    width: 421px;
    height: 45px;
    padding-left: 31px;
    margin-right: 24px;
    border: none;
}
.submit_big {
    color: white;
    padding: 15px 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF946D), to(#FF7D68));
    background: -o-linear-gradient(top, #FF946D 0%, #FF7D68 100%);
    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    border-radius: 10px;
}
.footer-conteiner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 180px 15px 0px;
}
.f-text__left {
    width: 207px;
    margin-top: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 124.5%;
    color: #FFFFFF;
    opacity: 0.7;
}
.f-center__about {

}
.footer-center__top {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 124.5%;
    color: #FFFFFF;
    margin-bottom: 34px;
}
.footer-center__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #FFFFFF;
    opacity: 0.7;
    margin-bottom: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.footer-center__text:hover {
    color: #000;
    -webkit-transition-duration: .9s;
         -o-transition-duration: .9s;
            transition-duration: .9s;

}
.footer-social img {
    margin-right: 26px;
}
.footer-social img:hover {
    border-radius: 50%;
    background: #F2962F;
    -webkit-box-shadow: 14px 14px 8px rgba(242, 150, 47, 0.03), 8px 8px 7px rgba(242, 150, 47, 0.1), 4px 4px 5px rgba(242, 150, 47, 0.17), 1px 1px 3px rgba(242, 150, 47, 0.2), 0px 0px 0px rgba(242, 150, 47, 0.2);
            box-shadow: 14px 14px 8px rgba(242, 150, 47, 0.03), 8px 8px 7px rgba(242, 150, 47, 0.1), 4px 4px 5px rgba(242, 150, 47, 0.17), 1px 1px 3px rgba(242, 150, 47, 0.2), 0px 0px 0px rgba(242, 150, 47, 0.2);
}
.footer-right__text{
    margin-top: 28px;
    margin-bottom: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 124.5%;
    letter-spacing: 0.005em;
    color: #FFFFFF;
    opacity: 0.7;
}
.footer-download img {
    margin-right: 7px;
}
.footer-down {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}
.footer-down p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 124.5%;
    color: #FFFFFF;
    text-align: center;
    margin-top: 84px;
    padding-bottom: 70px;
}
@media (max-width: 1250px) {

    .nav-login {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 20px;
    }
    .nav-login a {
        margin-bottom: 25px;
    }
    .subscribe__image {
        right: 0px;
        top: 0px;
    }
    .trip-comment {
        left: 0px;
        top: 80px;
    }

}

@media (max-width: 1020px) {
    .card-fb-border {
        right: 540px;
    }
    .card-button-text {
        margin-right: 106px;
    }
}
@media (max-width: 970px) {

    .conteiner-feedback {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .card-fb-border {
        right: 0px;
    }
}
@media (max-width: 870px) {

    .card-fb-border {
        top: 90px;
    }
    .conteiner-trip {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .trip-comment {
        left: 222px;
        top: 219px;
    }
    .conteiner-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .conteiner-logobrend {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footer-conteiner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}