*,
*::before,
*::after { box-sizing:border-box; }
a { text-decoration:none; color:inherit; cursor:pointer; }
button { background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
ul, ol, dd { margin:0; padding:0; list-style:none; }
h1, h2, h3, h4, h5, h6 { margin:0; font-size:inherit; font-weight:inherit; }
p { margin:0; }
cite { font-style:normal; }
fieldset { border-width:0; padding:0; margin:0; }
.global-bg {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
    background-image: url(../img/globalbg.jpg);
}
.conteiner-bg__nav {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
}
.conteiner-bg__main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 15px;
}
.conteiner-nav {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;

}
.logo {
    width: 115px;
    padding-top: 40px;
}
.nav-btn ul {
    display: flex;
}
.nav-btn li {
    padding: 50px 10px;
}
.nav-btn li a {
    padding: 20px 20px 20px 40px;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}
.nav-login {
    padding: 50px;
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #FFFFFF;
}
.nav-login a {
    padding-right: 30px;
}
.nav-login__lang {
    margin: -15px 15px;
    padding: 18px 24px;
    border-radius: 15px;
    background-color: #33c5d4;
    border:none;
    color: #FFFFFF;
    font-size: 17px;
}
.conteiner-main {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
}

.conteiner-main .about-content__right {
    margin-top: -150px;
    margin-right: -150px;
}
.about-content__left {
    width: 547px;
}

.about-content__left--p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #181E4B;
    width: 430px;
    margin-top: 130px;
}
.about-content__left--h {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    margin-top: 24px;
}
.about-content__left--s {
    width: 460px;
    height: 90px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.7;
}
.conteiner-main__btn {
    display: flex;
    margin-top: 34px;
}
.main-btn__find {
    display: flex;
    padding-right: 45px;
}
.main-btn__find a {
    padding: 18px 26px;
    background: #DB6851;
    color: white;
    border-radius: 10px;
}
.main-btn__play {
    display: flex;
    justify-content: center;
    align-items: center;
    background:#F2962F;
    width: 52px;
    height: 52px;
    border-radius: 50%;
}
.main-btn__play a {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff; 
    font-size:20px
}
.main-btn__playDemo {
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 17px;
    opacity: 0.7;
    padding-left: 15px;
}
.conteiner-category {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0px 15px;
}
.category-about p {
    margin-top: 200px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.7;
}
.category-about h3 {
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #14183E;
}
.category-items {
    display: flex;
    justify-content: space-between;
    margin-top: 85px;
}
.category-items__block {
    width: 100%;
    max-width: 267px;
    height: 315px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.category-items__block:hover {
    transition-duration: .4s;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 98px 98px 55px rgba(0, 0, 0, 0.01), 55px 55px 47px rgba(0, 0, 0, 0.05), 24px 24px 35px rgba(0, 0, 0, 0.09), 6px 6px 19px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-radius: 36px;
}
.category-items__country {
    display: flex;
    justify-content: space-evenly;
}
.category-items-block__country_one {
    width: 100%;
    min-width: 314px;
    height: 457px;
    background: url(../img/country-one.png) center no-repeat;

}